# Jekyll config

title: Login.gov Handbook
baseurl: ""
url: "https://handbook.login.gov"
github_repo_url: https://github.com/18F/identity-handbook  # enables "edit this page" button

markdown: kramdown

collections:
  articles:
    output: true

copy_to_destination:
  - node_modules/identity-style-guide/dist/assets
  - node_modules/anchor-js/anchor.min.js
  - node_modules/@18f/private-eye/private-eye.js

plugins:
  - jekyll-redirect-from
  - jekyll-last-modified-at
  - jekyll-environment-variables

exclude:
  - CONTRIBUTING.md
  - package-lock.json
  - Makefile
  - package.json
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - .cache
