// Imports
@import "identity-style-guide/dist/assets/scss/packages/required";

// Hello! These styles are specific styles for
// the Login.gov Handbook. Please refer to design.login.login-gov
// for the broader design system to follow. kthxbai.

// Search
#search-results {
  background-color: #ebf3fa;
  position: absolute;
  top: 20px;
  z-index: 20;

  li {
    width: 250px;

    &:first-child {
      padding-top: 20px;
    }

    &:last-child {
      padding-bottom: 20px;
    }

    &.no-results {
      list-style: none;
    }
  }
}

.deprecated-link {
  color: gray;
}

.sprint-team--archived {
  color: gray;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  &:target {
    background-color: color("warning-light");
  }
}
