// Imports
@use "uswds-core" as *;

.usa-header--extended .usa-navbar {
  align-items: initial;
}

.usa-header [role="search"] {
  max-width: none;
  float: none;
}

.deprecated-link {
  color: gray;
}

.sprint-team--archived {
  color: gray;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  &:target {
    background-color: color("warning-light");
  }
}

/**
 * Mimics private-eye lock emoji, but for GitLab repos
 * See https://github.com/18F/private-eye/blob/c08740d838eb2b95b318a916894c6cb6aae76e41/private-eye.js#L5
 */
a[href*="gitlab.login.gov/lg"] {
  & > strong::after,
  &::after {
    content: "\1F98A"; // 🦊
    font-size: 0.75em;
    text-decoration: none;
    vertical-align: top;
  }
}
