---
layout: default
---

<div class="grid-row grid-gap">
  <aside class="tablet:grid-col-3">
    <nav>
      {% assign h_max = page.toc_h_max | default: 3 %}
      {% include toc.html
                 html=content
                 sanitize=true
                 class="inline_toc"
                 id="my_toc"
                 h_min=2
                 h_max=h_max %}
    </nav>
  </aside>

  <div class="tablet:grid-col-8">
    <div class="usa-prose" role="main">
      <h1> {{ page.title }} </h1>
      {{ content | markdownify }}
    </div>
  </div>
</div>
