---
layout: default
---

<div class="grid-row grid-gap">
  <aside class="tablet:grid-col-3">
    <nav id="sidenav-wrapper">
      {% assign h_max = page.toc_h_max | default: 3 %}
      {% include toc.html
                 html=content
                 sanitize=true
                 class="inline_toc usa-accordion usa-sidenav"
                 id="sidenav"
                 item_class="usa-sidenav__item"
                 submenu_class="usa-sidenav__sublist"
                 h_min=2
                 h_max=h_max %}
    </nav>
  </aside>

  <div class="tablet:grid-col-8">
    <div class="usa-prose" role="main">
      {% if page.category %}
        {% assign home_url = "/" | prepend: site.baseurl %}
        {% assign category_url = page.category | slugify | prepend: "/categories/" | prepend: site.baseurl | append: ".html" %}
        {% component breadcrumb class="padding-y-0" %}
          {% component breadcrumb_item href=home_url %}Home{% endcomponent %}
          {% component breadcrumb_item href=category_url %}{{ page.category }}{% endcomponent %}
          {% component breadcrumb_item href=page.url current %}{{ page.title }}{% endcomponent %}
        {% endcomponent %}
      {% endif %}

      <h1>{{ page.title }}</h1>

      {{ content | markdownify }}
    </div>
  </div>
</div>
