<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% if page.title %}
        {{ page.title | strip_html }} |
      {% endif %}
      Login.gov handbook
    </title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css" />
    <link rel="icon" type="image/x-icon" href="{{site.baseurl}}/favicon.ico" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body data-base-url="{{site.baseurl}}">
    <header class="usa-header usa-header--basic" role="banner">
      <div class="usa-nav-container">
        <div class="usa-navbar">
          <div class="usa-logo" id="basic-logo">
            <a href="/" title="Home" aria-label="Home">
              <img src="{{site.baseurl}}/assets/img/login-gov-logo.svg" class="usa-logo__img" alt="Login.gov" />
              <em class="usa-logo__text">Handbook</em>
            </a>
          </div>
          <!--
            <button class="usa-menu-btn">Menu</button>
          -->
        </div>
        <nav role="navigation" class="usa-nav">
          <button class="usa-nav__close"><img src="/assets/img/close.svg" alt="Close"></button>
          <ul class="usa-nav__primary usa-accordion">
            <!-- TODO: nav elements -->
          </ul>

          <ul class="usa-nav__secondary-links">
            <li class="usa-nav__secondary-item">
              <div id="private-login-button-container"></div>
            </li>
          </ul>

          <div class="usa-nav__secondary-container">
            <div class="usa-search usa-search--small" role="search">
              <label class="usa-sr-only" for="basic-search-field-small">Search small</label>
              <input type="text" id="search-input" name="search" placeholder="Search articles...">
              <ul id="search-results"></ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main class="usa-layout-docs usa-section" id="main-content">
      <div class="grid-container">
          {{ content }}
        </div>
      </div>
    </main>
    <footer class="usa-footer usa-footer--slim" role="contentinfo">
      <div class="grid-container usa-footer__return-to-top">
        <div class="grid-row flex-align-center">
          <div class="grid-col flex-1">
            <a href="#">Return to top</a>
          </div>
          <div class="grid-col flex-auto">
            This page was last modified on {{ page.last_modified_at | date: '%b %e, %Y' }}
            <a href="{{ site.github_repo_url }}/edit/main/{{ page.path }}" class="usa-button usa-button--outline">Edit this page</a>
          </div>
        </div>
      </div>
      <div class="usa-footer__secondary-section">
        <div class="grid-container">
          <div class="usa-footer__logo grid-row grid-gap-2">
            <div class="grid-col-auto">
              <img src="{{site.baseurl}}/assets/img/gsa-logo-rev.svg" alt="U.S. General Services Administration logo" class="usa-footer__logo-img usa-footer__slim usa-footer__medium" />
            </div>
            <div class="grid-col-auto">
              <h3 class="usa-footer__logo-heading">U.S. General Services Administration</h3>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="module">
      import {
        loadAnchors,
        loadPrivateEye,
        loadSimpleJekyllSearch,
      } from '{{ "/assets/build/setup.js" | prepend: site.baseurl }}';

      document.addEventListener('DOMContentLoaded', () => {
        loadAnchors();
        loadPrivateEye();
        loadSimpleJekyllSearch();
      }, false);
    </script>
    <script type="module">
      import { setUpPrivate } from '{{ "/assets/build/private.js" | prepend: site.baseurl }}';

      setUpPrivate();
    </script>
  </body>
</html>
